.amiibo-store {
}

.amiibo-logo {
  margin: auto;
}

.amiibo-nav {
  position: sticky;
  display: flex;
  width: 100%;
  background: white;
  top: 0;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.amiibo-logo {
  display: flex;
  align-items: end;
  margin-left: .5em;
}

.amiibo-logo__img {
  height: auto;
  margin: 1em 0;
  width: 33vw;
}

.amiibo-logo__store, .amiibo-cart {
  font-weight: bold;
}

.amiibo-logo__store {
  margin-left: 2px;
}

.amiibo-cart {
  color: white;
  padding: .2em 1em;
  margin-right: .45em;
  border-radius: .3em;
  background: var(--logo-blue);
}

.amiibo-card {
  padding: 16px;
  border-radius: 16px;
  margin: 0 16px;
  min-width: max-content;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.amiibo-card__series {
  margin: 8px;
  color: rgb(152,152,152);
}

.amiibo-card__img-container {
  display: flex;
}

.amiibo-card__image {
  margin: auto;
  width: 20vw;
}

.amiibo-card__type {
  margin: 8px;
  border-radius: 1em;
}

.amiibo-card__character {
  margin: 8px;
  margin-bottom: 8px;
}

.amiibo-collection {
  padding: 16px;
  padding-bottom: 50px;
  overflow-x: scroll;
}

.amiibo-collection::-webkit-scrollbar {
  display: none;
}

.amiibo-collection__title {
  padding: 16px;
  padding-bottom: 25px;
  margin: 0;
}

.amiibo-collection__gallery {
  display: flex;
  flex-firection: row;
}
